@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cal+Sans&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Outfit", sans-serif;
    background: #f5f5f5;
  }

  li {
    @apply inline-block mx-5 max-sm:block lg:mx-5 max-md:mx-6 max-md:my-2 text-lg font-normal text-white cursor-pointer;
  }
}

@layer components {
  .center {
    @apply pl-[5%] pr-[5%] lg:pl-[10%] lg:pr-[10%];
  }

  .bg-blue-overlay {
    background-color: rgba(0, 15, 152, 0.3);
  }

  .navbar {
    @apply fixed w-full top-0 left-0 z-10;
  }

  .dark-nav {
    @apply bg-[#212EA0] duration-300 ease-in-out transition-colors;
  }

  .logo {
    @apply lg:size-10 lg:ml-5 max-md:size-10 max-md:ml-3 max-md:my-3   size-8 ml-3;
  }

  .logo-and-title {
    @apply flex gap-3.5;
  }

  .title {
    @apply text-white lg:text-2xl lg:mt-1 max-md:text-2xl max-md:py-4 mt-1;
    font-family: "Cal Sans", sans-serif;
  }

  .nav-content {
    @apply flex justify-between items-center;
  }

  .nav-ul {
    @apply max-md:fixed max-md:top-0 max-md:right-0 max-md:bottom-0 max-md:bg-[#212EA0] max-md:z-50 max-md:w-[180px] max-md:pt-[50px] max-md:transition-all duration-300;
  }

  .nav-ul-show {
    @apply right-[-200px];
  }

  .nav-menu-icon {
    @apply block size-8 z-50;
  }

  /* .rotate{
    @apply transform rotate-180 transition-all duration-300;
  } */

  /* .rotate-back{
    @apply transform rotate-180 transition-all duration-300;
  } */

  .btn {
    @apply bg-[#fff] text-[#212121] p-3 my-2 ml-5 rounded-full text-[15px] cursor-pointer border-0 outline-0 inline-flex gap-3 items-center max-md:ml-6;
  }

  .hero-section {
    @apply w-full flex items-center justify-center min-h-screen bg-cover bg-no-repeat bg-center;
    background-image: linear-gradient(rgba(8, 0, 58, 0.7), rgba(8, 0, 58, 0.7)),
      url("/hero.png");
  }

  .hero-text {
    @apply text-white text-center max-w-[800px];
  }

  .hero-heading {
    @apply lg:text-6xl md:text-5xl max-sm:text-4xl sm:text-4xl text-white tracking-tighter text-balance mb-4 font-semibold;
  }

  .hero-detail {
    @apply lg:text-2xl md:text-xl sm:text-lg max-sm:text-xl text-white tracking-tighter text-balance mb-4;
  }

  .arrow-icon {
    @apply w-5;
  }

  .programs {
    @apply flex items-center justify-between my-20 mx-auto w-[90%] gap-5;
  }

  .program {
    @apply basis-1/2 relative;
  }

  .pro-img {
    @apply w-full rounded-xl block;
  }

  .caption {
    @apply rounded-xl absolute inset-0 flex flex-col items-center justify-center cursor-pointer opacity-0 group-hover:bg-blue-overlay group-hover:opacity-100 transition-all duration-300 pt-96 group-hover:pt-0 ease-in-out;
  }

  .cap-name {
    @apply text-white text-lg;
  }

  .cap-img {
    @apply size-20 mb-3;
  }

  .title-component {
    @apply text-center mx-0 mt-16 mb-8;
  }

  .title-p {
    @apply text-[#212EA0] text-lg font-medium tracking-wide;
  }

  .title-h {
    @apply text-[#000F38] text-3xl font-semibold tracking-wide;
  }

  .about {
    @apply flex my-24 mx-auto items-center justify-between gap-9 w-[90%];
  }

  .about-left {
    @apply basis-[80%] relative;
  }

  .about-right {
    @apply basis-[90%];
  }

  .about-img {
    @apply w-full rounded-xl;
  }

  .about-subtitle {
    @apply text-[#212EA0] text-lg font-medium tracking-wide;
  }

  .about-title {
    @apply text-[#000F38] text-3xl font-semibold max-w-[400px] my-3 mx-0;
  }

  .about-p {
    @apply my-4 text-[#676767] w-full;
  }
  .play-icon {
    @apply w-16 absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 cursor-pointer;
  }

  .campus {
    @apply my-20 mx-0 w-11/12 text-center;
  }

  .gallery {
    @apply flex items-center justify-between gap-8 mb-10;
  }

  .gallery-img {
    @apply rounded-2xl w-3/12;
  }

  .dark {
    @apply bg-[#212EA0] text-white ml-24 p-4;
  }

  .testimonials {
    @apply mx-auto my-20 relative pl-[10%] pr-[10%];
  }

  .testimonials-btn {
    @apply bg-[#212EA0] absolute top-1/2 right-0 p-4 w-14 rounded-full cursor-pointer transform -translate-y-1/2;
  }

  .back {
    @apply right-auto left-0 ml-28;
  }

  .next {
    @apply mr-16 right-3;
  }

  .slider {
    @apply overflow-hidden;
  }

  .slider-cards {
    @apply flex overflow-x-hidden transition duration-500 justify-center gap-4;
  }

  .slider-card {
    @apply p-5 px-0 w-[490px] flex-none;
  }

  .slide {
    @apply shadow-md p-8 bg-[#eeeeee] rounded-xl leading-snug h-full
    /* box-shadow: 0 0 20px rgba(0,0,0,0.05) bg#eeeeee; */;
  }

  .user-name {
    @apply text-[#212EA0] font-bold;
  }

  .user-add {
    @apply text-[#676767] text-base;
  }

  .user-para {
    @apply text-[#676767] text-base;
  }

  .user-img {
    @apply w-16 rounded-full mr-3 border-4 border-[#212EA0];
  }

  .user-info {
    @apply flex mb-5 items-center;
  }

  /* Contact-css */

  .icon-text {
    @apply flex items-center gap-3;
  }

  .icon {
    @apply w-7;
  }

  .contact {
    @apply mx-20 my-auto max-w-[90%] flex items-start justify-between;
  }

  .contact-col {
    @apply basis-3/6 bg-[#f5f5f5];
  }

  .contact-col-h3 {
    @apply text-[#000F38] font-medium text-3xl tracking-wide mb-5;
  }

  .contact-para {
    @apply text-[#676767] max-w-md text-left font-normal text-[18px] mb-4;
  }

  .input-area {
    @apply block w-full bg-[#EBECFE] p-4 border-none outline-none mb-4 mt-1;
  }

  .label {
    @apply text-[#676767] text-lg resize-none;
  }

  .footer {
    @apply mx-auto my-6 flex items-center justify-between border-t-[1px] border-[#797979] pt-3;
  }

  .tnc {
    @apply flex items-center justify-between gap-8;
  }

  .footer-text {
    @apply font-normal text-lg;
  }
}
